/** Base **/
* {
  box-sizing: border-box;
}
h1 {
  margin: 0 0 5px 5px;
  position: relative;
  border: 1px solid black;
  float: right;
  float: top;
  font-size: 125%;
  text-align: center;
  clear: left;
  font-family: Helvetica;
}

p {
  font-size: 100%;
  padding: 0 2% 0 2%;
  font-family: Helvetica;
}
section {
  margin-bottom: 15px;
  padding: 0 15px 0 0;
  height: 120px;
}
.row{
  border: 1px solid black;
  background: #d3d3d3;
  position: relative;
  height: 120px;
}
.content {
  margin: 0 5px 0 15px;
  position: relative;
}
div{
  position: relative;
  margin-right: auto;
  margin-left: auto;
}
#chicken{
  background: pink;
  width: 100px;
}
#beef{
  background: red;
  width: 60px;
}
#sushi{
  background: beige;
  width: 75px;
}
#menu{
  position:relative;
  float: left;
  width: 100%;
  font-size: 175%;
  border: none;
  width: 100%;
}


/** Large Devices **/
@media (min-width: 992px) {
  .col-lg-4, .col-lg-6, .col-lg-12 {
    float: left;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/** Medium Devices **/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/** Small Devices **/
@media (max-width: 767px) {
.col-sm-12 {
    float: left;
    width: 100%;
  }
}